main.css
body{
    background-color: lightsteelblue;
    color: black;
    font-family: "monotype cordiva", cursive;
}
p{
    text-indent: 20px;
}
table{
    background-color: midnightblue;
    color: darkgrey;
    text-shadow: 1px 1px #669999;
}
.large{
    font-size: large;
}
.small{
    font-size: small;
}
.address{
    color: gray();
}