/* Variables  */
body{
    background-color: lightblue;
    color: black;
    font-family: "monotype cordiva", cursive;
}
p{
    text-indent: 20px;
}
table{
    background-color: steelblue;
    color: darkgrey;
    text-shadow: 1px 1px #6699;
}
.large{
    font-size: large;
}
.small{
    font-size: small;
}
.address{
    color: gray();
}/* Styles */
