/* Variables  */
body {
    background-color: #ffe6e6;
    text-align: center;
    align-content: center;
}

select{
    display: inline;
}

form {
    align-content: center;
}

p#top {
    margin-top: 10px;
    line-height: 40px;
    font-family: Showcard-gothic, Monotype-corsiva, Times, serif;
    font-size: 43px;
    border-bottom: 1px solid #660000;
    letter-spacing: 0.1em;
}

i {
    display: block;
}
img{
    min-height: 50px;
    max-height: 300px;
    min-width: 30px;
    max-width: 400px;
}

/* Styles */
