<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
              integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
              crossorigin="anonymous">

        {% if title %}
            <title>{{ title }} – MCON 104 Term Project</title>
        {% else %}
            <title>MCON 104 Term Project </title>
        {% endif %}
    </head>

    <body>
        <nav>
            <img src="../static/favicon.ico" alt="Logo"/>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('paintings') }}">paintings page</a>
            <!--<a href="{{ url_for('custom')}}">custom paintings</a>-->
            <hr/>
        </nav>

        {% block content %}
        {% endblock %}

		<footer>
			<address>
				<p id = "address">Jennifer Gerstle, <br/>
				I love to paint paintings on canvas board, drawing, <br/>
				and painting little intricate miniature models</p>
				<a id = "address" href="mailto:jennygerstle@gmail.com">Email Me</a>
			</address>
			<textarea name="comments"></textarea>
		</footer>

    </body>

</html>
