{% extends "base.html" %}
{% block content %}
    <p id="top" ><b><i>Welcome to Jenny's Minis</i></b><br/>
        Where paintings and drawings and miniatures can be browsed for and bought, we take custom orders.
        <br/>We would also like to hear requests for what to do next!</p>
    <form action="">
        <p>Would you like to browse the art?</P>
        <select name="browsing" onchange="window.open(this.value,'','');">
            <option value="">If so what Type?</option>
            <option value="paintings">paintings</option>
            <option value="pencil%20drawings">Pencil Drawings</option>
            <option value="miniatures">Miniatures</option>
            <option value="favorites">Favorites</option>
        </select>
    </form>
    <form action=""">
        <p>Would you like to buy something?</p>
        <select name="buying" onchange="window.open(this.value,'');">
            <option value="">If so what Type?</option>
            <option value="custom%20paintings">Custom Painting</option>
            <option value="custom%20miniatures">Custom Miniatures</option>
        </select>
    </form>
{% endblock %}
