{% extends "base.html" %}
{% block content %}
    <p> There are many paintings that I have painted<br/>
		these are just some of them I hope you like them including:
        <a>
		<div>
			<figure>
				<img src= "../static/images/batman%20joker%20smile%20painting%20cut.jpg"
				alt="a painting inspired by batman" title="joker smile painting"/>
				<figcaption>Joker smiling and quotes from batman</figcaption>
			</figure>
		</div>
		<div>
			<img src="../static/images/bob%20ross%20beach%20sunset.jpg" alt="sunset beach with mountains"/>
		</div>
		<div>
			<img src="../static/images/bob%20ross%20cabin%20in%20the%20woods.jpg" alt="Bob Ross' cabin in the woods"/>
		</div>
		<div>
			<img src="../static/images/chinese landscape painting.jpg" alt="chinese scene"/>

		<div>
			<img src="../static/images/IMG_6679.jpg" alt="image?"/>
		</div>
		<div>
			<img src="../static/images/lava%20zombi%20painting.jpg" alt="image?"/>
		</div>
		<div>
			<img src="../static/images/pencil%20turtle.JPG" alt="image?"/>
		</div>
		<div>
			<img src="../static/images/zombi%20painted%20model.jpg" alt="image?"/>
		</div>
        </a>
{% endblock %}