{% extends "base.html" %}
{% block content %}
    <p> There are many paintings that I have painted<br/>
		these are just some of them I hope you like them including:
        <a>
		<div>
			<figure>
				<img src= "../images/batman joker smile painting cut.jpg"
				alt="a painting inspired by batman" title="joker smile painting"/>
				<figcaption>Joker smiling and quotes from batman</figcaption>
			</figure>
		</div>
		<div>
			<img src="../images/bob ross beach sunset.jpg" alt="sunset beach with mountains"/>
		</div>
		<div>
			<img src="../images/bob ross cabin in the woods.jpg" alt="Bob Ross' cabin in the woods"/>
		</div>
		<div>
			<img src="../images/chinese landscape painting.jpg" alt="chinese scene"/>
		</div>
		<div>
			<img src="../images/IMG_6679.jpg" alt="image?"/>
		</div>
		<div>
			<img src="../images/lava zombi painting.jpg" alt="image?"/>
		</div>
		<div>
			<img src="../images/pencil turtle.JPG" alt="image?"/>
		</div>
		<div>
			<img src="../images/zombi painted model.jpg" alt="image?"/>
		</div>
        </a>
{% endblock %}